<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프사</title>
    <style>
      #container {
        position: relative;
        width: 500px;
        margin: 30px auto;
        border-radius: 20%;
        overflow: hidden;
        box-shadow: 15px 15px 50px 8px #000;
      }

      img {
        position: absolute;
        width: 10px;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <img
        src="https://i.namu.wiki/i/knnXU3NoRvhuytK_kg3GyfzKPPXyDqafae_iyxFPcPay5aHvJbIXAPiTLk-NFVnUUiqV4KQQPjq2oO028TOmBw.webp"
        alt=""
      />
    </div>
  </body>
</html>
